body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  margin: 0;
  padding: 0;

}

header,
section,
footer {
  text-align: center;
}


section {
  margin-top: 20px;
}

.meal {
  width: 1000px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  /* 가운데 정렬을 위해 추가 */
}


.breakfast:hover,
.lunch:hover,
.dinner:hover {
  border: 1px solid #ffffff;
  padding: 10px;
  background-color: #ff0000;
  color: #ffffff;
}



h1 {
  color: #ff0000;
}

strong {
  color: #ff0000;
}


iframe {
  height: 200px;
}

/* 선택된 라디오 버튼의 색상을 변경하는 CSS */
input[type="radio"]:checked+label {
  background-color: #ff0000;
  /* 선택된 항목의 배경색을 파란색으로 변경 */
  color: #fff;
  /* 선택된 항목의 텍스트 색상을 흰색으로 변경 */
}

/* 라디오 버튼 숨기기 */
input[type="radio"] {
  display: none;
}

/* 선택된 항목의 라벨에 포커스 효과를 주기 위한 스타일 */
input[type="radio"]+label:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}


/* 각 항목의 추가적인 스타일 */
.breakfast,
.lunch,
.dinner {
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 5px;
  display: block;
  width: 250px;
  font-size: 18px; /* 라벨 폰트 크기 조정 */
  cursor: pointer; /* 커서 스타일 변경 */
  /* 라벨 간의 간격 조정 */
  height: 45px;
  line-height: 45px;
}

input[type="submit"]{
  color: #ff0000;
  background-color: #ffffff;
  border: 1px solid #ffffff;
}

input[type="submit"]:hover{
  color: #ffffff;
  background-color: #ff0000;
  border: 1px solid #ff0000;
}

.food-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

/* Individual food item */
.food-item {
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
}

/* Image box */
.img-box {
  text-align: center;

  width: 100%;
  max-width: 1000px; /* 변경된 부분 */
  padding: 20px;
  overflow: auto;
  white-space: nowrap;
  margin: 20px auto;
  background-color: #ffffff;
}

img {
  width: 100px;
  height: 100px;

}

/* Food name */
.food-name {
  font-size: 1.2em;
  font-weight: bold;
  color: #dc3545; /* 빨간색 */
  margin-top: 10px;
}

/* Food details */
.food-detail {
  margin-top: 5px;
}

/* Food detail label */
.detail-label {
  font-weight: bold;
}

/* Food detail value */
.detail-value {
  color: #FF0000; 
}

#time {
  display: flex;
  justify-content: center; /* 가운데 정렬 */
  margin-bottom: 20px; /* 간격 조정 */
}

#foods{
  min-height: 100px;
}
@media screen and (max-width: 768px) {
  .meal {
    flex-direction: column;
  }

  #food {
    width: 90%;
    margin: 20px auto;
  }
}