
body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

header,
section,
footer {
  text-align: center;
}

section {
  margin-top: 20px;
}

.meal {
  width: 1000px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto; /* 가운데 정렬을 위해 추가 */
}

#breakfast,
#lunch,
#dinner {
  flex: 1;
  border: 1px solid #ff0000;
  padding: 10px;
  background-color: #ffffff;
  color: #ff0000;
  margin: 0 10px; /* 각 요소 사이의 간격을 벌리기 위해 추가 */
}




h1 {
  color: #ff0000;
}

strong {
  color: #ff0000;
}

#food {
  width: 1000px;
  height: 300px;
  padding: 20px;
  overflow-x: auto; /* 가로 스크롤을 활성화합니다. */
  color: #112031;
  border: 1px solid #ff0000;
  overflow-y: hidden; /* 세로 스크롤을 숨깁니다. */
  white-space: nowrap;
  margin: 20px auto;
  background-color: #ffffff;
  display: flex;
}

#imgbox {
  border: 1px solid #ff0000;
  width: 120px;
  height: 120px;
  margin: 0 20px 20px; /* 이미지 박스 간의 상하 간격을 주기 위해 수정 */
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 100px;
  height: 100px;
  display: block;
  margin: 0 auto;
}

body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

header,
section,
footer {
  text-align: center;
}

section {
  margin-top: 20px;
}

.meal {
  width: 1000px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto; /* 가운데 정렬을 위해 추가 */
}

#breakfast,
#lunch,
#dinner {
  flex: 1;
  border: 1px solid #ff0000;
  padding: 10px;
  background-color: #ffffff;
  color: #ff0000;
  margin: 0 10px; /* 각 요소 사이의 간격을 벌리기 위해 추가 */
}




h1 {
  color: #ff0000;
}

strong {
  color: #ff0000;
}

#food {
  width: 1000px;
  height: 300px;
  padding: 20px;
  overflow-x: auto; /* 가로 스크롤을 활성화합니다. */
  color: #112031;
  border: 1px solid #ff0000;
  overflow-y: hidden; /* 세로 스크롤을 숨깁니다. */
  white-space: nowrap;
  margin: 20px auto;
  background-color: #ffffff;
  display: flex;
}

#imgbox {
  border: 1px solid #ff0000;
  width: 120px;
  height: 120px;
  margin: 0 20px 20px; /* 이미지 박스 간의 상하 간격을 주기 위해 수정 */
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 100px;
  height: 100px;
  display: block;
  margin: 0 auto;
}

