<!DOCTYPE html>
<html lang="ko">

<style>
    .login-form2{
    width: 449px;
    height: 650px;
    flex-shrink: 0;
    border-radius: 46px;
    border: 1.5px solid rgba(255, 255, 255, 0.36);
    background: rgba(44, 44, 44, 0.59);
    backdrop-filter: blur(4.5px);
    }
</style>
<head>
    <link rel="icon" href="img/i.png"/>
    <link rel="apple-touch-icon" href="img/favicon.png"/>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/login.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
    <style>
        body {
            background: url('img/Background.png') no-repeat center center fixed;
            background-size: cover;
            min-height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>
<body>
    <form action="sign" method="post" class="login-form2" id="loginForm" onsubmit="return check()">
        <div class="login-title">회원가입</div>
        <div class="id-group">
            <label for="name"><img src="img/user.svg"></label>
            <input type="text" id="name" name="name" placeholder="이름" style="color: black;">
        </div>
        <div class="id-group">
            <label for="username"><img src="img/id.svg"></label>
            <input type="text" id="username" name="id" placeholder="아이디" style="color: black;">
        </div>
        <div class="password-group">
            <label for="password"><img src="img/password.svg"></label>
            <input type="password" id="password" name="pwd" placeholder="비밀번호" style="color: black;">
        </div>
        <div class="password-group">
            <label for="confirmPassword"><img src="img/password2.svg"></label>
            <input type="password" id="confirmPassword" name="confirmPassword" placeholder="비밀번호 확인" style="color: black;">
        </div>
        <input type="submit" class="login-button"></input>
        <div class="signup-link">
            <p id="login">이미 계정이 있으신가요? <a href="/login">로그인</a></p>
        </div>
    </form>
</body>
<script>
    document.getElementById("loginForm").addEventListener("submit", function(event) {
        event.preventDefault();

        // Form 데이터를 JSON 객체로 변환
        const formData = new FormData(event.target);
        const jsonObject = {};
        formData.forEach((value, key) => {
            jsonObject[key] = value;
        });

        // JSON 객체를 서버에 전송
        fetch('/sign', {
            method: 'POST',
            body: JSON.stringify(jsonObject), // JSON 형식으로 변환하여 전송
            headers: {
                'Content-Type': 'application/json' // JSON 형식으로 전송한다고 명시
            },
        })
            .then(response => response.json())  // JSON 응답을 해석
            .then(data => {
                console.log(data.sucess);
                if (data.sucess == true) {
                    alert("회원가입 성공")
                    location.href="/"
                } else {
                    // 로그인 실패 시에는 서버 응답에 따라 동작 수행
                    alert('회원가입에 실패했습니다');
                }
            })
            .catch(error => console.error('Error:', error));
    });
</script>
<script>
    function check() {
        if(document.getElementById("name").value === "") {
            document.getElementById("name").focus()
            return false
        }else if(document.getElementById("username").value === "") {
            document.getElementById("username").focus()
            return false
        }else if(document.getElementById("password").value === "") {
            document.getElementById("password").focus()
            return false
        }else if(document.getElementById("confirmPassword").value === "") {
            document.getElementById("confirmPassword").focus()
            return false
        }else if(document.getElementById("password").value !== document.getElementById("confirmPassword").value ) {
            document.getElementById("confirmPassword").focus()
            return false
        }
    }
</script>
</html>
